.applicationTab .main-box {position: relative;background: #fff;overflow: hidden;}
.applicationTab p {line-height: 24px;}

.applicationTab .bold {font-weight: 700;}
/* banner */
.applicationTab .banner  {min-height:450px;padding-top: 50px;padding-bottom: 50px;background-size: cover;position: relative;}
.applicationTab .row-flex{display: flex;flex-wrap: wrap;align-items: center;position: relative;z-index: 9;}

.applicationTab .banner .btn{background: #efefef;}

.applicationTab .banner_form, .applicationTab .banner_content {padding-top:50px;}
.applicationTab .larger-title h1 {font-weight: 600;font-size:36px;margin:0;}
.applicationTab .white,.applicationTab  .white p { color: #fff;}
.applicationTab .banner p {font-size: 18px;font-weight: 400;text-align: left;}
.applicationTab .btn { display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 0;padding:10px 25px;font-size: 1rem;line-height: 1.5;border-radius: .25rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;color:#000;font-family: 'Nunito', sans-serif;}
.applicationTab .ml-4, .applicationTab .mx-4 {margin-left: 1.5rem!important;}
.applicationTab .mt-4, .applicationTab .my-4 {margin-top: 1.5rem!important;}
.applicationTab .mt-5, .applicationTab .my-5 {margin-top: 3rem!important;}
.applicationTab .mb-3, .applicationTab .my-3 {margin-bottom: 1rem!important;}
.applicationTab .mb-5, .applicationTab .my-5 {margin-bottom: 3rem!important;}
.applicationTab .btn {font-size: 18px;font-weight: 600;color: #000;}
.applicationTab .white-btn {background: #fff;color: #151b24;padding: 10px 40px;}
.applicationTab .larger-title{margin-bottom:25px;}
@media (min-width: 992px){
.applicationTab .larger-title {font-size: 36px;letter-spacing: -0.01em;text-transform: capitalize;line-height: 1.3;font-weight:800;}
.col-md-5 {width: 41.66666667%;}
.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.box-row:before,.box-row:after{display: none;}
.applicationTab .banner_form, .applicationTab .banner_content {padding-top:50px; width: 34%;}
}
.applicationTab .token-image1 img{width:100%;}

.applicationTab .gray {background: #f2f2f2;}
.applicationTab .gap {padding-top: 80px;padding-bottom: 80px;}
.applicationTab .text-center{text-align:center;}
.applicationTab .title {font-size: 36px;font-weight: 700;line-height: 1.1;margin-bottom: 30px;width: 100%;}
/*.applicationTab .queue-features .container {max-width: 1000px;}*/
.applicationTab .queue-features .box-row .title {font-weight: 500;font-size: 28px;}
.applicationTab .queue-features .box-row .title:after {
    content: "";
    width: 60px;
    height: 4px;
    background: #ddc298;
    display: block;
    margin-top: 15px;
}
.applicationTab .video-frame-outer {max-width: 800px;margin: auto;}
.applicationTab .top-vdo {position: relative;z-index: 2;margin: 40px auto 0;}
.applicationTab img {max-width: 100%;height: auto;}
.applicationTab .iframe-video {position: absolute;width: auto;height: auto;left: 10.5%;right: 10.5%;bottom: 9.5%;top: 6%;}
.applicationTab .our-client {border-top: 2px solid #e9e9e9;}

@media only screen and (max-width: 767px){
	.applicationTab .container {padding-left: 15px;padding-right: 15px;}
	.applicationTab .header {background: rgba(0,0,0,0.9);z-index: 9;}
	.applicationTab .larger-title {font-size: 36px;text-transform:uppercase;}
	.applicationTab .banner {padding-top: 56px;}
	.applicationTab .banner_form, .banner_content {width: 100%;padding-top: 50px;}
	.applicationTab .larger-title h1 {font-weight: 700;}
	.applicationTab br{display:none;}
	.applicationTab .free-qoute-form {padding: 30px 30px;box-sizing: border-box;}
	.applicationTab .banner {min-height: inherit;height: auto;padding-bottom: 80px;}
	.applicationTab .phone-number {font-size: 18px;}
	.applicationTab .call-us p {font-size: 14px;}
	.applicationTab .title {font-size: 28px;}
	.applicationTab .token-box { margin-top: 20px;}
	
}
@media only screen and (max-width: 400px){
.applicationTab .our-client li {max-width: 100px;}
.applicationTab .brand-name img {max-width: 130px;}
.applicationTab .larger-title h1 {font-size: 26px;}
.applicationTab .banner p {font-size: 16px;}
.applicationTab .white-btn {padding: 10px 25px;}
.applicationTab .btn {font-size: 16px;}


}


/*-- start queue features css --*/
* {box-sizing: border-box;}
.applicationTab .box-row {padding: 30px 15px;}
.applicationTab .queue-features .row {align-items: center;}
.applicationTab .checklist {list-style-type: none;padding: 0; margin: 0;}
.applicationTab .checklist li {margin-bottom: 14px;padding-left: 26px; background: url(../images/check.png) left 5px no-repeat;font-weight: 500; color: #484e54;}
	
@media only screen and (min-width: 767px){
.pl-5, .px-5 {padding-left: 3rem!important;}	
.applicationTab .row {display: -webkit-box;display: -ms-flexbox; display: flex;-ms-flex-wrap: wrap; flex-wrap: wrap;margin-right: -15px; margin-left: -15px;}	
.applicationTab .col-md-6 { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%;max-width: 50%;}	
.applicationTab .col-sm-6 { -webkit-box-flex: 0;-ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
.applicationTab .col-md-4 { -webkit-box-flex: 0;-ms-flex: 0 0 33.333%; flex: 0 0 33.333%; max-width: 33.333%;}
.applicationTab .col-md-4,.applicationTab .col-sm-6,.applicationTab .col-md-6{padding-right: 15px;padding-left: 15px;position:relative}		
.applicationTab .box-row:nth-child(odd) {flex-flow: row-reverse;}	
.applicationTab .box-row{border-bottom:1px solid #ddd;}	
.applicationTab .box-row:last-child{border-bottom:none;}	
	
}	
.applicationTab .image_circle:before {
    content: "";
    height: 380px;
    width: 380px;
    background: linear-gradient(to right, #EB3349, #F45C43); 
    display: block;
    position: absolute;
    border-radius: 50%;
    margin: 0 auto;
    left: 0;
    right: 35px;
    top: 0;
    z-index: -1;
}
/*-- end queue features css --*/

.applicationTab .simple-steps span {background: #333;color: #fff;height: 60px;width: 60px;display: block;margin: 0 auto;line-height: 3.8;border-radius: 50%;margin-bottom: 20px;}
.applicationTab .faq-content {max-width: 850px;width:100%;margin:0 auto 20px;}
.applicationTab .faq-content .button {background:#efefef;padding:15px;font-weight:700;border-radius:3px;position:relative; color:#222; text-align:left; line-height:1.1; border:0; display:block; float:none; max-width:inherit; min-width:inherit;white-space: inherit;padding-right: 35px;text-transform: inherit;}
.applicationTab .box-1 {height: 0;opacity: 0;transition: height 0.5s ease-in-out;-moz-transition: height 0.5s ease-in-out;-webkit-transition: height 0.5s ease-in-out;}
.applicationTab .faq-content.active .box-1 {height:90px;opacity: 1;transition: height 0.5s ease-in-out;-moz-transition: height 0.5s ease-in-out;-webkit-transition: height 0.5s ease-in-out;}

.applicationTab .faq-content p {margin: 0;padding: 20px;}


.applicationTab .toggle {max-width: 50px;display: inline-block;height: 50px;position: absolute;right: 0;top: 0;width: 100%;}
.applicationTab .toggle span {width: 15px;height: 2px;display: inline-block;background: #333;position: absolute;top: 25px;right: 20px;transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;}
.applicationTab .faq-content .line-2 {transform: rotate(90deg);}
.applicationTab .faq-content.active .line-1 {transform: rotate(45deg);}
.applicationTab .faq-content.active .line-2 {transform: rotate(-45deg);}

.applicationTab .packages .pack {font-size:42px;border:1px solid;display:block;margin:0;padding:30px;text-align:center;font-weight:600;max-width:300px;margin:0 auto;}
.applicationTab .packages button.btn {background: red;color: #fff;max-width: 250px;width: 100%;}

.features-list li .feature-title{flex-wrap: nowrap;}
.features-list li .front-content{border: 1px solid #d7d7d7; background: white;}
.features-list li .front-content h3{
  font-size: 22px;
}


.cta_container {
    background:#ecd7b8;
    padding: 80px 25px;
    border-radius: 18px;
    color: #15023a;
    position: relative;
    overflow: hidden;
    margin: 12px
}
.cta_container::before {
    content: '';
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.2);
    border-radius: 100%;
    bottom: -25%;
    right: -5%;
}
.cta_container::after {
    content: '';
    width: 200px;
    height: 200px;
    display: block;
    position: absolute;
    background: rgba(255,255,255,0.2);
    border-radius: 100%;
    top: -40%;
    left: -5%;
}
.cta_container span{
    color: #cc3939;
}
.title34{font-size: 34px;
  text-align: center;
  max-width: 800px;
  margin: auto;
  font-family: 'Meditative';
}

.title28{
    font-size: 28px;
  font-family: 'Meditative';
}

.whatsapp-icon {
    position: fixed;
    bottom: 50px;
    left: 8px;
    z-index: 3;
    background: transparent;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.whatsapp-icon a {
    height: 40px;
    width: 40px;
    z-index: 11;
    opacity: 1;
    overflow: hidden;
    pointer-events: all;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.06),0 2px 32px 0 rgba(0,0,0,.16);
    background: #4fce5d;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
}
.cbb-circle {
    background-color: rgba(127,186,0,0);
    border: 1px solid #4fce5d;
    border-radius: 100% !important;
    opacity: .5;
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation: 2.2s ease-in-out infinite animation1;
    /* animation: 2.2s ease-in-out infinite animation1; */
    -ms-animation: animation1 2.2s ease-out;
    -ms-animation-iteration-count: infinite;
}
.cbb-circle-fill {
    background-color: #4fce5d;
    border: 1px solid #4fce5d;
    border-radius: 100% !important;
    opacity: 1;
    position: absolute;
    width: 70px;
    height: 70px;
    -webkit-animation: 1.7s ease-in-out infinite animation2;
    /* animation: 1.7s ease-in-out infinite animation2; */
    -ms-animation: animation2 1.7s ease-out;
    -ms-animation-iteration-count: infinite;
}

@media (max-width: 680px){
      .cbb-circle{
        width: 75px;
        height: 75px;
      }
      .cbb-circle-fill{
        width: 60px;
        height: 60px;
      }
}

@-webkit-keyframes animation1{0%{opacity:.1;-webkit-transform:scale(.4);transform:scale(.4);}70%{opacity:.6;-webkit-transform:scale(1);transform:scale(1);}100%{opacity:.3;-webkit-transform:scale(.5);transform:scale(.5);}}
@-webkit-keyframes animation2{0%{opacity:.3;-webkit-transform:scale(.6);transform:scale(.6);}70%{opacity:.8;-webkit-transform:scale(1);transform:scale(1);}100%{opacity:.1;-webkit-transform:scale(.7);transform:scale(.7);}}


.hide-form {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
  -o-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
}

.close-form {
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
    height: 51px;
    font-size: 0;
    cursor: pointer;
    z-index: 9
}

.close-form:before, .close-form:after {
  content: '';
    position: absolute;
    background: #767676;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    left: 14px;
    right: 14px;
    top: 30px;
    height: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
}

.close-form:after {
     -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
    -moz-transition: all 120ms;
    -webkit-transition: all 120ms;
    -o-transition: all 120ms;
    transition: all 120ms;
    z-index: 99;
  padding: 25px;
  width: 100%;
  background: rgba(0,0,0,0.7);
  height: 100%;
  overflow-y: auto;
}
.popup-form .popup-form-inside{
    background: #FAFDFF;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    width: 100%;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.09), 0px 11px 12px 7px rgba(0, 0, 0, 0.02);
    position: relative;
}

@media screen and (max-width: 1000px) {
  .popup-form {
    padding: 10px
  }
  .WidgetBackground__Container-sc-1ho7q3r-0{
    padding: 20px !important
  }
}

.popup-header {
  text-transform: uppercase;
  font-size: 18px;
}

.popup-body {
  display: flex;
  flex-direction: column;
}
body.form_active{overflow: hidden;}