body{line-height:0}
	.message{line-height: 1.2}
	#get-free-trail-bottom form{margin:0 }
	#get-free-trail-bottom.appsumo-section{
		margin-top:0rem;padding:0;
		background:#ffffff;
		border:0;
		min-height:100vh
	} 
	.form-in{
		margin: auto;
		padding:3vw 5vw;
	}
	
	.form-in input,.form-in select{
		border: 1px solid #E0E0E0;
		width: 100%;
		max-width: 100%;
		background-color:#ffffff;
		padding:.5rem 1.25rem;
		line-height:1;
		height:52px;
		border-radius:5px;
		-webkit-border-radius:5px;
		margin-bottom:10px;
		-webkit-appearance:none;
		appearance:none;
		-moz-appearance:none;
		font-size: 16px;
	}
	.form-in select{background:url(<?php echo Configure::read('baseUrl');?>/front-images/chevron-down-thin.png) 95% center no-repeat;}
	.green-bg{background:url(<?php echo Configure::read('baseUrl');?>/front-images/green-bg.jpg) no-repeat;background-size:cover;padding:3vw 4vw;
		-ms-flex-line-pack:center!important;align-content:center!important;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.large-title{color:#ffffff;font-size:50px;font-weight:bold;padding-bottom:4vw;}
	#get-free-trail-bottom .title-one{color:#252525;font-size:42px;text-align:left;font-weight:600; font-weight: 600}
	.form-in .intl-tel-input{margin-bottom:16px;font-size: 16px;}
	
	#step-first {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		height:100%;
		margin-left:0;
		margin-right:0
	}
	#infodiv{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align:center!important;
		-ms-flex-align:center!important;
		align-items:center!important;
		height:100%;
	}
	.signup-form-bottom .button--green{height:54px;border-radius:5px;-webkit-border-radius:5px;}
	.signup-form-bottom .button--green:hover{background: #0f012b;border-color: #0f012b}
	.white-text{color:#fff}
	body.inner-pages .navbar.site-header,#footer,.footer-bottom,.footer-bar{display:none}
	.greentext {
		color: #15023a;
		text-transform: uppercase;
		font-weight: 600;
	}
	label.error {
	color: red;
	font-weight: normal;
	font-size: 14px;
	display: block;
	width: 100%;
	line-height: normal;
}
#flashMessage{color: red;font-size: 14px;margin-bottom:15px}
.intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag {
	max-height: 40px;
}
.flex-row-reverse{-webkit-box-orient:horizontal!important;-webkit-box-direction:reverse!important;-ms-flex-direction:row-reverse!important;flex-direction:row-reverse!important}
body{line-height:0}
.form-in .intl-tel-input{margin-bottom:0}
#contact_setup{margin-bottom:10px !important}
.country-flags,.country-flags + #get-free-trail-bottom{display: none;}
.form-in{
	padding-bottom: 20px;
}
.btn.google {
	background: #fff;
	border: 0;
	color: #000;
	font-size: 18px;
	border: 1px solid #cacaca;
	padding: 15px 30px;
	border-radius: 8px;
}
.btn.google:hover{
	background: #eae9e9;
}
label.error {
	font-weight: normal;
	font-size: 14px;
	display: block;
	width: 100%;
}

.form-in{
	padding-top: 5vw;
}
@media (min-width: 992px){
	.large-title{
		font-size:3vw;
	}
	#get-free-trail-bottom .title-one{
		font-size: 2.5vw;
	}
	#step-first .col-md-4,#step-first .col-md-8{
		display: inline-flex;
		float: none;
	}
	#step-first .col-md-8{
		width: 66%;
	}
	#step-first:before,#step-first:after{
		display: none;
	}
}
@media (min-width: 681px){
	.hidedesk{display: none;}

}
@media (max-width: 680px){
	.mobile-view-row .seprator-ors {
	width: 100%;
	text-align: center;
	padding: 5px 0 25px;
}
	.mobile-view-row.justify-content-between{
		-webkit-box-pack: center !important;
		-ms-flex-pack: center !important;
		justify-content: center !important;
	}
	.large-title{
		font-size: 30px;
		padding-bottom: 0;
		/*margin-bottom: 0*/
	}
	#get-free-trail-bottom .title-one{
		font-size: 28px
	}
	.hidesmall{display: none;}
}
.creating-ac{
	padding-bottom: 40px !important;
	max-width: 450px;
}
.creating-ac .swal2-icon.swal2-success {
	background: url(../images/salonist_loader.gif);
	width: 80px;
	height: 80px;
	background-size: contain;
	/* display: block; */
	margin: 15px auto;
	display: block !important;
	border: 0;
}
.creating-ac .swal2-title{
	max-width: 280px;
	margin: 0 auto .4em !important;
}
.creating-ac .swal2-icon.swal2-success *{
	display: none !important;
}
#pwdmessage {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 15px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #pwdmessage p {
  padding: 0px 15px;
  font-size: 13px;
  margin: 0;
}
  
  .pwdvalid {
    color: green;
  }
  
  .pwdvalid:before {
    position: relative;
    left:-10px;
    content: "✔";
  }  
  
  .pwdinvalid {
    color: red;
  }
  
  .pwdinvalid:before {
    position: relative;
    left:-10px;
    content: "✖";
  }
  .form-in input.error, .form-in select.error{
  	border-color: #ff0000
  }

  .trusted h2 {
	color: #fff;
	font-size: 23px;
	margin-bottom: 15px
}
.brand {
    list-style-type: none;
    padding: 0;
    display: grid;
    justify-content: space-between;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
}
.brand li {
	flex: 0 0 30%;
	margin-bottom: 10px;
}
.brand li span {
	background: #fff;
	padding: 8px;
	border-radius: 8px;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.brand li span img {
	width: auto;
	filter: grayscale(100%) invert(1);
	max-height: 60px;
} 
@media (max-width: 680px){
	.brand li span{
		height: 80px;
	}
}

.brand li span{height: 90px}
@media only screen and (min-width: 768px) and (max-width: 992px){	
	#infodiv,#step-first,#get-free-trail-bottom.appsumo-section{height: auto;} 
}